.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.login-container input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem;
  font-size: 1rem;
}

.login-container button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 1rem;
}


.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* espacio para el botón */
}

.toggle-password {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
